//Color Variables 
$primary-teal: #5CC099;
$primary-darkblue: #212C49;
$light-teal:#DCEFE5;
$purple:#AC66E2;
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    
    color: $primary-darkblue;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    color: $primary-darkblue;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    color: $primary-darkblue;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    
    color: #909;
}

.jumbotron {
    background-color: $light-teal;
    color: $primary-darkblue;
    img{
        max-width: 20em;
        margin: 0 auto;
        padding-bottom: 3em;
    }
}

section {
    .fa {
        font-size: 3em;
        padding: 1ex;
        color: $purple;
    }
    h3 {
        font-size: 5ex;
        color: $primary-darkblue;
    }
    p{
        font-size:3ex;
        color: $primary-darkblue;
    }
}

//Mailchimp
.form-control{
    border-radius: 25px;
    border:solid 2px $purple;
    padding: 1.5em;
    background-color: $light-teal;
    margin-bottom: 1ex;
}
input.button{
    border-color: $purple;
    color:white;
    background-color: $purple;
    margin-bottom: 5em;
    &:hover{
        background-color: darken( $purple, 10%);
        color: white;
    }
}
h1{
    color:purple;
    background-color: aqua;
}
input#mce-FNAME{
}
input#mce-LNAME{
}
input#mce-MMERGE3{
}
input#mce-EMAIL{
}
form#join-form{
    background-color: aqua;
}

footer{
    background-color: $primary-teal;
    padding: 2ex;
}

// injector
// endinjector